@CHARSET "UTF-8";

#shi{
	width: 50px;
	height: 50px;
	border: 1px; solid; color: red; 
	position: relative;
	left:50px;
	border:2px #991155 solid;
}

#body{
	background: rgba(0, 0, 0, 0.8)
}

#weju{
	margin: 150 auto;
	width: 800px;
	height: 300px;
	border:2px white solid;
	text-align: center;
	padding-top: 20px;
}

#xiaohui{
	width:268px;
	height:98px;
	position: relative;
	top: -100px;
	right: -1050px;
}

#biaoge{
	width: 600px;
	height: 400px;
	border:2px white solid;
	
}

#lunbo{
	width:300px;
	border:1px blue solid;
	position: relative;
	top:-420px;
	right:-950px;
	
}

#gerenxinxi{
	width:1347px;
	height:452px;
}

#tou{
	width:1347px;
	height:95px;

}











